.kalkylatorContainer {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 10px #000000d2;
}

.sliderContainer {
  text-align: center;
  margin: 20px 0;
}

.intäkter {
  font-weight: bold;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .slider {
    width: 250px;
    margin-top: 25px;
    background: #fd02f1;
  }
}

@media only screen and (max-width: 425px) {
  .kalkylatorContainer h1 {
    text-align: center;
    font-size: 28px;
    
  }
}

