.footer {
  background-color: #262929;
  color: #d4f4f8;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kontaktButtonSticky {
  position: sticky;
  bottom: 40px; /* Avstånd från botten */
  width: 100%; /* Anpassa bredden efter behov */
  display: flex;
  justify-content: center; /* Centrerar knappen horisontellt */
  z-index: 1000; /* Se till att den ligger över andra element */
}

