.vemarviPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainVemarvi {
  flex: 1;
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.vemarviTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.vemarviTextTitle {
  display: flex;
  color: #d4f4f8;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.vemarviTitle h1 {
  color: #d4f4f8;
  font-size: 3rem;
}

.vemarviText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vemarviTextContent1Text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 200px;
  width: 40%;
}

.vemarviTextContent1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #d4f4f8;
  font-size: 1rem;
  background: linear-gradient(20deg, #262929d2 50%, #d4f4f8e3);
  padding: 2rem;
  border: 1px solid #d4f4f8;
  border-radius: 16px;
  margin: auto;
  margin-bottom: 3rem;
  gap: 3rem;
  box-shadow: 0 0 15px #000000d2;
}

.vemarviTextContent1Img {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #d4f4f8;
  box-shadow: 0 0 15px #000000d2;
}

.vemarviTextContent2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #d4f4f8;
  font-size: 1rem;
  background: linear-gradient(20deg, #262929d2 50%, #d4f4f8e3);
  padding: 2rem;
  border: 1px solid #d4f4f8;
  border-radius: 16px;
  margin: auto;
  margin-bottom: 1rem;
  gap: 3rem;
  box-shadow: 0 0 15px #000000d2;
}
.vemarviTextContent2Text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 200px;
  width: 40%;
}

.vemarviTextContent2Img {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #d4f4f8;
  box-shadow: 0 0 15px #000000d2;
}
