.vemarviPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainVemarvi {
  flex: 1;
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.vemarviTextTitle {
  font-size: 2rem;
  color: #d4f4f8;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 150px;
}

.vemarviContent1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.vemarviContent2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.vemarviTextContent1,
.vemarviTextContent2 {
  font-size: 1.1rem;
  color: #d4f4f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(20deg, #262929d2 50%, #d4f4f8e3);
  padding: 2rem;
  border: 1px solid #d4f4f8;
  border-radius: 16px;
  margin-bottom: 3rem;
  gap: 3rem;
  box-shadow: 0 0 15px #000000d2;
}

.vemarviTextContent1Text,
.vemarviTextContent2Text {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #d4f4f8;
}

.vemarviTextContent1Img,
.vemarviTextContent2Img {
  width: 40%;
  max-width: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 15px #000000d2;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .vemarviTextContent1Text,
  .vemarviTextContent2Text {
    font-size: 1.3rem;
  }
  .vemarviTextContent1Img,
  .vemarviTextContent2Img {
    width: 30%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 2048px) and (orientation: portrait) {
  .vemarviTextContent1,
  .vemarviTextContent2 {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .vemarviTextContent1Img,
  .vemarviTextContent2Img {
    order: -1;
  }

  .vemarviTextContent1Text,
  .vemarviTextContent2Text {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .vemarviTextTitle {
    font-size: 2rem;
    margin-top: 135px;
  }
  .vemarviTextContent1,
  .vemarviTextContent2 {
    flex-direction: column;

    width: 100%;
  }
  .vemarviTextContent1Text,
  .vemarviTextContent2Text {
    font-size: 1.3rem;
    order: 1;
  }
  .vemarviTextContent1Img,
  .vemarviTextContent2Img {
    width: 100%;
  }
  .vemarviTextContent1Text h3, .vemarviTextContent2Text h3 {
    margin-bottom: 1rem;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .vemarviTextTitle {
    margin-top: 125px;
  }
}
