.sajobbarviPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainSajobbarvi {
  flex: 1;
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sajobbarviTextTitle {
  font-size: 2rem;
  color: #d4f4f8;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 150px;
}

.sajobbarviContent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  background: linear-gradient(20deg, #262929d2 50%, #d4f4f8e3);
  padding: 2rem;
  border: 1px solid #d4f4f8;
  border-radius: 16px;
  margin-bottom: 3rem;
  gap: 3rem;
  box-shadow: 0 0 15px #000000d2;
}

.sajobbarviTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.sajobbarviContentText1,
.sajobbarviContentText2 {
  font-size: 1rem;
  color: #d4f4f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.sajobbarviContentImage1 {
  width: 20%;
  max-width: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 15px #000000d2;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .sajobbarviContentText1,
  .sajobbarviContentText2 {
    font-size: 1.3rem;
  }
  .sajobbarviContentImage1 {
    width: 30%;
  }
}

/* Media Queries for Responsiveness */
@media only screen and (min-width: 1024px) and (max-width: 2048px) and (orientation: portrait) {
  /* För surfplattor */
  .sajobbarviTextTitle {
    font-size: 1.8rem;
  }

  .sajobbarviContent1 {
    flex-direction: row;
    align-items: center;
    width: 90%;
  }

  .sajobbarviContentImage1 {
    width: 40%;
  }
  .sajobbarviContentText1,
  .sajobbarviContentText2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  /* För mobiltelefoner */
  .sajobbarviTextTitle {
    font-size: 2rem;
    margin-top: 30%;
  }

  .sajobbarviContent1 {
    width: 90%;
    padding: 1rem;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .sajobbarviTextTitle {
    font-size: 2rem;
  }

  .sajobbarviContentImage1 {
    width: 60%;
  }

  .sajobbarviContentText1,
  .sajobbarviContentText2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 425px) {
  .sajobbarviTextTitle {
    font-size: 1.5rem;
    margin-top: 125px;
  }
  .sajobbarviContent1 {
    margin-bottom: 3rem;
  }
}
