.kontaktaossPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainKontaktaoss {
  flex: 1;
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.kontaktaossTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d4f4f8;
  margin-top: 150px;
}

.kontaktaossHeading {
  font-size: 3rem;
}

.kontaktaossSubheading {
  font-size: 1.3rem;
}

.kontaktaossContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.kontaktBoxTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.kontaktBoxName {
  font-size: 2rem;
  color: #d4f4f8;
  margin-bottom: 0.5rem;
  text-align: right;
  width: 50%;
}

.kontaktBoxEmail {
  font-size: 1.1rem;
  color: #d4f4f8;
  text-align: right;
  width: 50%;
}

.kontaktBoxPhone {
  font-size: 1.1rem;
  color: #d4f4f8;
  text-align: right;
  width: 50%;
}

.kontaktBox {
  font-size: 1.1rem;
  color: #d4f4f8;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  margin-bottom: 20px;
  border: 1px solid #d4f4f8;
  border-radius: 8px;
  padding: 20px;
  background: linear-gradient(20deg, #262929b5 60%, #d4f4f8ba);
  box-shadow: 0 0 15px #000000d2;
}

.kontaktBoxImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kontaktBoxImage {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 0 15px #000000d2;
}
