.kontaktaossPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainKontaktaoss {
  flex: 1;
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.kontaktaossTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d4f4f8;
  margin-top: 15%;
  text-align: center;
}

.kontaktaossHeading {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.kontaktaossSubheading {
  font-size: 1.3rem;
}

.kontaktaossContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.kontaktBoxTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.kontaktBoxName,
.kontaktBoxEmail,
.kontaktBoxPhone {
  font-size: 1.1rem;
  color: #d4f4f8;
  text-align: right;
  width: 50%;
  margin-bottom: 0.5rem;
}

.kontaktBoxEmail a,
.kontaktBoxPhone a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: color 0.3s ease-in-out;
}

.kontaktBoxEmail a:hover,
.kontaktBoxPhone a:hover {
  color: #fd02f1;
}

.kontaktBox {
  font-size: 1.1rem;
  color: #d4f4f8;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 50%;
  border: 1px solid #d4f4f8;
  border-radius: 8px;
  padding: 20px;
  background: linear-gradient(20deg, #262929b5 60%, #d4f4f8ba);
  box-shadow: 0 0 15px #000000d2;
  margin-bottom: 20px;
}

.kontaktBoxImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kontaktBoxImage {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 0 15px #000000d2;
}

.icon {
  margin-left: 8px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: fill 0.3s;
  fill: #000; /* Standardfärg */
  stroke: #000;
}

.icon:hover {
  fill: #fd02f1; /* Ändra färg vid hover */
  stroke: #fd02f1;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .kontaktBox {
    width: 60%;
  }

  .kontaktBoxEmail a:hover,
  .kontaktBoxPhone a:hover,
  .kontaktBoxEmail a:active,
  .kontaktBoxPhone a:active {
    color: #fd02f1; /* Rosa textfärg */
    text-shadow: 1px 1px 2px #ffffff; /* Vit textskugga */
  }
}

@media only screen and (min-width: 1024px) and (max-width: 2048px) and (orientation: portrait) {
  .kontaktBox {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .kontaktaossTitle h1 {
    margin-top: 80px;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .kontaktaossSubheading {
    width: 90%;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .kontaktBoxTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    order: 2;
  }

  .kontaktBox {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .kontaktaossContainer {
    margin-bottom: 4rem;
  }
  .kontaktBoxTitel {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
  .kontaktBoxName {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  .kontaktBoxEmail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  .kontaktBoxPhone {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    font-size: 1.3rem;
  }
}
